

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
          </svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 ">Home</a></li>
        <li><a href="/products" class="nav-link px-2">Products</a></li>
        <!-- <li><a href="#" class="nav-link px-2">Pricing</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li> -->
        <li><a href="/about" class="nav-link px-2">About</a></li>
      </ul>


      <div class="col-md-3 text-end d-flex">
        <% if(!loggedIn) { %>
            <a type="button" class="btn btn-primary me-2" href="/login">Login</a>
            <a type="button" class="btn btn-primary" href="/register">Sign up</a>        
        <% } %>

        <% if(loggedIn) {%>
            <p>Welcome <%= user.email %></p>
            <a type="button" class="btn btn-danger" href="/logout">Logout</a>
        <% } %>
      
      </div>
    </header>
  </div>