<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<body class="text-center">

    <h2>Hello, everyone!</h2>
    <h3>This is my first project which focusing on: </h3>
    <h3>Express js and Mongoose.</h3>

    <a href="mailto:gawinvernon@gmail.com" class="btn btn-primary mt-5">Contact Me</a>
</body>

<%- include('../partials/footer.ejs') %>