<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<body class="text-center">

    <h3>Hello, everyone!</h3>
    <h4>This is my first introductory project.</h4>

    
</body>

<%- include('../partials/footer.ejs') %>