
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body class="text-center">
    
    
<<<<<<< HEAD
    <div class="g-3 align-items-center container">
        <form action="/api/v1/post" method="POST">
            
        <h3 class="mb-3">Create A Product</h3>
        <div class="">
            <label style="background-color: transparent;" for="name" class="">Product Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="">
        </div>    
        <div class="">
            <label style="background-color: transparent;" for="price" class="">Price</label>
            <input type="number" name="price" id="price" class="form-control" placeholder="">
        </div>    
=======
    <div class="g-3 container w-25">
        
        <form action="/product/create" method="POST">   
        <h3 class="mb-3">Create A Product</h3>
        
        <div class="form-floating mb-3">
            <input name="name" type="text" class="form-control" id="floatingName" placeholder="">
            <label for="floatingName" style="background-color: transparent;">Name</label>
        </div>
        
        
        <div class="form-floating mb-3">
            <input name="price" type="number" class="form-control" id="floatingPrice" placeholder="">
            <label for="floatingPrice" style="background-color: transparent;">Price</label>
        </div>
        
        
>>>>>>> b721722 (15/1)
            
            <button class="btn btn-primary mb-3 mt-3" type="submit">Submit</button>
        </form>
        
    </div>
<<<<<<< HEAD
   
=======
    
>>>>>>> b721722 (15/1)








</body>

<%- include('../partials/footer.ejs') %>