<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body class="text-center">
  <ul>
    <li><a href="/api/v1/getAll">View All Products</a></li>
  </ul>
</body>

<%- include('../partials/footer.ejs') %>